*.mp4 filter=lfs diff=lfs merge=lfs -text
input/Orange[[:space:]]Belt[[:space:]]One[[:space:]]Step[[:space:]]Sparring.mp4 filter=lfs diff=lfs merge=lfs -text
input/Jr.[[:space:]]Green[[:space:]]Form.mp4 filter=lfs diff=lfs merge=lfs -text
input/Jr.[[:space:]]Red[[:space:]]Kicking[[:space:]]Technique.mp4 filter=lfs diff=lfs merge=lfs -text
input/Jr.BrownFormSpencer.mp4 filter=lfs diff=lfs merge=lfs -text
input/Orange[[:space:]]Belt[[:space:]]Form.mp4 filter=lfs diff=lfs merge=lfs -text
input/Orange[[:space:]]Belt[[:space:]]Kicking[[:space:]]Technique.mp4 filter=lfs diff=lfs merge=lfs -text
input/Orange[[:space:]]Belt[[:space:]]Nunchukas.mp4 filter=lfs diff=lfs merge=lfs -text
input/Sr.[[:space:]]Green[[:space:]]Belt[[:space:]]Form.mp4 filter=lfs diff=lfs merge=lfs -text
input/Taegeuk5Jang.mp4 filter=lfs diff=lfs merge=lfs -text
input/Jr.[[:space:]]Brown[[:space:]]Kicking.mp4 filter=lfs diff=lfs merge=lfs -text
input/Jr.[[:space:]]Green[[:space:]]One[[:space:]]Step[[:space:]]Sparring.mp4 filter=lfs diff=lfs merge=lfs -text
input/Jr.[[:space:]]Red[[:space:]]One[[:space:]]Step[[:space:]]Sparring.mp4 filter=lfs diff=lfs merge=lfs -text
input/Taegeuk6Jang.mp4 filter=lfs diff=lfs merge=lfs -text
input/Jr.[[:space:]]Blue[[:space:]]Belt[[:space:]]Kicking.mp4 filter=lfs diff=lfs merge=lfs -text
input/Sr.[[:space:]]Green[[:space:]]One[[:space:]]Step[[:space:]]Sparring.mp4 filter=lfs diff=lfs merge=lfs -text
input/Sr.[[:space:]]Red[[:space:]]One[[:space:]]Step[[:space:]]Sparring.mp4 filter=lfs diff=lfs merge=lfs -text
input/Taegeuk2Jang.mp4 filter=lfs diff=lfs merge=lfs -text
input/Jr.BrownBreakingSpencer.mp4 filter=lfs diff=lfs merge=lfs -text
input/Sr.[[:space:]]Blue[[:space:]]Belt[[:space:]]Form.mp4 filter=lfs diff=lfs merge=lfs -text
input/Sr.[[:space:]]Red[[:space:]]Form.mp4 filter=lfs diff=lfs merge=lfs -text
input/Sr.[[:space:]]Blue[[:space:]]Belt[[:space:]]Kicking.mp4 filter=lfs diff=lfs merge=lfs -text
input/Sr.[[:space:]]Brown[[:space:]]Belt[[:space:]]Kicking.mp4 filter=lfs diff=lfs merge=lfs -text
input/Jr.[[:space:]]Blue[[:space:]]Belt[[:space:]]One[[:space:]]Step[[:space:]]Sparring.mp4 filter=lfs diff=lfs merge=lfs -text
input/Jr.[[:space:]]Brown[[:space:]]One[[:space:]]Step[[:space:]]Sparring.mp4 filter=lfs diff=lfs merge=lfs -text
input/Jr.[[:space:]]Red[[:space:]]Nunchukas.mp4 filter=lfs diff=lfs merge=lfs -text
input/Taegeuk1Jang.mp4 filter=lfs diff=lfs merge=lfs -text
input/Taegeuk3Jang.mp4 filter=lfs diff=lfs merge=lfs -text
input/Jr.[[:space:]]Brown[[:space:]]Form.mp4 filter=lfs diff=lfs merge=lfs -text
input/Sr.[[:space:]]Brown[[:space:]]One[[:space:]]Step[[:space:]]Sparring.mp4 filter=lfs diff=lfs merge=lfs -text
input/Sr.[[:space:]]Green[[:space:]]Belt[[:space:]]Kicking[[:space:]]Technique.mp4 filter=lfs diff=lfs merge=lfs -text
input/Taegeuk4Jang.mp4 filter=lfs diff=lfs merge=lfs -text
input/Taegeuk7Jang.mp4 filter=lfs diff=lfs merge=lfs -text
input/Jr.[[:space:]]Green[[:space:]]Kicking.mp4 filter=lfs diff=lfs merge=lfs -text
input/Jr.[[:space:]]Red[[:space:]]Form.mp4 filter=lfs diff=lfs merge=lfs -text
input/Sr.[[:space:]]Brown[[:space:]]Form.mp4 filter=lfs diff=lfs merge=lfs -text
input/Jr.[[:space:]]Green[[:space:]]Nunchukas.mp4 filter=lfs diff=lfs merge=lfs -text
input/Sr.[[:space:]]Blue[[:space:]]Belt[[:space:]]One[[:space:]]Step[[:space:]]Sparring.mp4 filter=lfs diff=lfs merge=lfs -text
