version: "3.9"

x-app: &default-app
    image: gifr
    volumes:
        - ./input:/input
        - ./output:/output

services:
    # taegeuk7-parts:
    #     <<: *default-app
    #     env_file:
    #         - Taegeuk7Jang-Parts.env
    taegeuk7-complete:
        <<: *default-app
        env_file:
            - Taegeuk7Jang-complete.env
    taegeuk7-SonalGeodeureoArae:
        <<: *default-app
        env_file:
            - Taegeuk7Jang-SonalGeodeureoArae.env
    taegeuk7-GeodeureoBatangson1:
        <<: *default-app
        env_file:
            - Taegeuk7Jang-GeodeureoBatangson1.env
    taegeuk7-GeodeureoBatangson2:
        <<: *default-app
        env_file:
            - Taegeuk7Jang-GeodeureoBatangson2.env
    taegeuk7-Bojumeok1:
        <<: *default-app
        env_file:
            - Taegeuk7Jang-Bojumeok1.env
    taegeuk7-Gawimakgi1:
        <<: *default-app
        env_file:
            - Taegeuk7Jang-Gawimakgi1.env
    taegeuk7-Mureupchigi1:
        <<: *default-app
        env_file:
            - Taegeuk7Jang-Mureupchigi1.env
    taegeuk7-Mureupchigi1:
        <<: *default-app
        env_file:
            - Taegeuk7Jang-Mureupchigi2.env
    taegeuk7-Hecheomakgi1:
        <<: *default-app
        env_file:
            - Taegeuk7Jang-Hecheomakgi1.env
    taegeuk7-DujumeokJeocheoJireugi1:
        <<: *default-app
        env_file:
            - Taegeuk7Jang-DujumeokJeocheoJireugi1.env
    taegeuk7-DujumeokJeocheoJireugi2:
        <<: *default-app
        env_file:
            - Taegeuk7Jang-DujumeokJeocheoJireugi2.env
    taegeuk7-UtgeoreoArae1:
        <<: *default-app
        env_file:
            - Taegeuk7Jang-UtgeoreoArae1.env
    # sr-blue-form-complete:
    #     <<: *default-app
    #     env_file:
    #     - SeniorBlueForm-complete.env
    # sr-blue-sparring:
    #     <<: *default-app
    #     env_file:
    #     - SeniorBlueSparring.env